<div class="login-container">
  <div class="login-box">
    <div class="login-box-inner_">
      <div class="login-logo">
        <a href="#"><b>Хочу</b> К Врачу</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Добро пожаловать</p>

        <form novalidate>
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Электронный адрес" ng-model="vm.user.email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Пароль"  ng-model="vm.user.password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Запомнить меня
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" ng-click="vm.login()" class="btn btn-primary btn-block btn-flat">Войти</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!--<div class="social-auth-links text-center">-->
          <!--<p>- OR -</p>-->
          <!--<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in-->
            <!--using-->
            <!--Facebook</a>-->
          <!--<a href="#" class="btn bt n-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in-->
            <!--using-->
            <!--Google+</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.social-auth-links &ndash;&gt;-->

        <!--<a href="#">I forgot my password</a><br>-->
        <!--<a href="register.html" class="text-center">Register a new membership</a>-->

      </div>
      <!-- /.login-box-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <!--&lt;!&ndash; jQuery 2.1.4 &ndash;&gt;-->
  <!--<script src="../../plugins/jQuery/jQuery-2.1.4.min.js"></script>-->
  <!--&lt;!&ndash; Bootstrap 3.3.5 &ndash;&gt;-->
  <!--<script src="../../bootstrap/js/bootstrap.min.js"></script>-->
  <!--&lt;!&ndash; iCheck &ndash;&gt;-->
  <!--<script src="../../plugins/iCheck/icheck.min.js"></script>-->
  <script>
    //  $(function () {
    //    $('input').iCheck({
    //      checkboxClass: 'icheckbox_square-blue',
    //      radioClass: 'iradio_square-blue',
    //      increaseArea: '20%' // optional
    //    });
    //  });
  </script>

</div>
