<div ng-include="'app/doctors/editrecipient/editrecipient.html'"></div>

<div class="content-header">
  <h1>Список врачей</h1>
</div>

<div class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
            <tr>
              <th>ФИО</th>
              <th>Специальность</th>
              <th>Приёмы</th>

            </tr>
            <tr ng-repeat="doc in vm.doctors">
              <td style="vertical-align: middle;" ><a href="#/doctors/edit/{{doc._id}}">{{doc.name}}</a>
              </td>
              <td style="vertical-align: middle;">{{doc.specializations[0].name}}
              </td>
              <td><span style="margin-right: 10px;">{{vm.dateStr}}</span>
                <button type="button" ng-repeat="r in doc.receptions" class="btn btn-recipient"
                        ng-class="{'btn-danger': r.isBusy, 'btn-success': !r.isBusy}" ng-click="vm.editRec(doc, r)">
                  {{r.timeStr}}
                </button>
                <button type="button" class="btn btn-info" ng-click="vm.goToShow(doc._id)">Другие даты</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 25px;">
    <div class="col-xs-12">
      <button class="btn btn-primary pull-right" ng-click="vm.goAdd()">Добавить доктора</button>
    </div>
  </div>
